/*All code written and provided by Kyle Szalai*/
body {
  background: #FAFAFA;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #000000;
  padding-top: 70px; }

h1 {
  font-family: Roboto, Arial, Helvetica, sans-serif; }
  h1 small {
    color: rgba(0, 0, 0, 0.54); }

h2.a {
  font-family: Roboto, Arial, Helvetica, sans-serif; }

/*Links*/
a:link {
  /*Unvisited Link*/
  color: #2196f3;
  background-color: transparent;
  text-decoration: none; }

a:visited {
  /*Visited Link*/
  color: #0a6ebd;
  background-color: transparent;
  text-decoration: none; }

a:hover {
  /*Mouse over link*/
  color: #0a6ebd;
  background-color: transparent;
  text-decoration: underline; }

a:active {
  /*Selected Link*/
  color: #0a6ebd;
  background-color: transparent;
  text-decoration: underline; }

.navbar {
  border-radius: 0px 0px 0px 0px; }

.navbar-default {
  background-color: #2162FF;
  border: none;
  border-radius: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2); }
  .navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    -webkit-transition: color 0.275s, background-color 0.275s;
    transition: color 0.275s, background-color 0.275s; }
    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
      color: #FFFFFF;
      background-color: #0039cb; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #FFFFFF;
    background-color: #0039cb; }
  .navbar-default .navbar-collapse {
    border-color: #2162FF; }
  .navbar-default .navbar-toggle {
    border: none; }
    .navbar-default .navbar-toggle .icon-bar {
      background: #ffffff; }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #0039cb; }
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: white; } }

.navbar-brand {
  padding: 8px; }
  .navbar-brand a > i {
    margin-right: 8px;
    color: #FFFFFF; }

.card {
  background-color: #FFFFFF;
  border-radius: 2px;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); }

.profile_pic {
  border-radius: 150px;
  margin: 20px;
  width: 200px;
  height: 200px; }
  @media only screen and (max-device-width: 768px) {
    .profile_pic {
      width: 100px;
      height: 100px;
      margin: 45px -8px 45px 0px; } }

.profile_card {
  margin: 20px 0px; }
  .profile_card h1 {
    font-size: 50px; }
  .profile_card p {
    font-size: 16px; }
  @media only screen and (max-device-width: 768px) {
    .profile_card {
      margin: 12px 0px; }
      .profile_card h1 {
        font-size: 30px; }
      .profile_card p {
        font-size: 12px; } }

.social a {
  margin: 4px 8px; }

#about, #skills, #featuredWork, #workhist, #experience {
  padding: 12px;
  margin: 8px 0px; }
  @media only screen and (max-device-width: 768px) {
    #about, #skills, #featuredWork, #workhist, #experience {
      padding: 4px;
      margin: 8px 0px; }
      #about small, #skills small, #featuredWork small, #workhist small, #experience small {
        font-size: 16px; } }

#about h1 {
  padding: 16px 20px 0px 20px;
  font-family: Roboto Mono, monospace; }

#skills h1 {
  padding: 16px 20px 0px 20px;
  font-family: Roboto Mono, monospace; }

#skills i {
  margin: 0px 16px;
  font-size: 50px; }

#featuredWork h1, #featuredWork h3 {
  font-family: Roboto Mono, monospace; }

#workhist h1 {
  padding: 16px 20px 0px 20px;
  font-family: Roboto Mono, monospace; }

#workhist i {
  margin: 0px 16px;
  font-size: 35px; }

.classes {
  background-color: #ffffff;
  color: #000000; }

.containclasses {
  display: inline-block; }

.bg-1 {
  color: #ffffff;
  /* White */
  text-shadow: 2px 2px 4px #000000;
  /*Black shadow*/ }

.bg-2 {
  background-color: #ffffff;
  color: #000000;
  border-radius: 0px 0px 5px 5px; }

.bg2-b {
  background-color: #f8f8f8; }

.footer {
  padding: 12px 20px;
  margin: 8px auto 0px auto;
  border-radius: 0px 2px 0px 2px; }
  .footer .col-xs-6 {
    padding: 0px; }

#featProjImageContainer img {
  height: 500px; }

/*div Styles*/
div.box {
  background-color: #000000;
  color: #ffffff;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  opacity: 0.9; }

div.mid {
  width: 60%;
  margin: 0 auto; }

/*Unordered List*/
ul.a {
  list-style-type: square; }
