/* Resume CSS */

body	{
	font-family: Arial;
}

div.head, div.body, div.objective	{
	width:1000px;
	margin: 0 auto;
}

#school-info	{
	float:left;
}

#home-info{
	float:right;
}

#education, #work, #job	{
	padding-left:4em;
}